html{
    font-size: 1.5vw;
}
body{
    margin: 0%;
    background-color: black;
    font-size: 2rem;
    color: white;
    position:center;
    width: 100%;
    height: 100%;
}
div{    
    background-color: black;
}
.container{
    display: grid;
    height:100% ;
    width:100%;
    background-color:black;
    align-items: stretch;
    grid-template-columns: 7rem 1fr 7rem;
    grid-template-rows: 7rem 26rem 1fr;
}
#제목{
    font-size: 3rem;
    margin-top: 0.5rem;
}

