body {
    font-size: 12pt;
    background-color: grey;
    color: white;
}
  
div{
  width: 40%;
  height: 100%;
  float: left;
}
#word{
  float: left;
}
#mean{
  float: right;
  float: top;
}
#cup{
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45);
  border-radius: 10px;
}
input{
  border-radius: 5px;
}
button{
  float: right;
}
#buttonbox{
  float: right;
}

